.search-bar {
    padding: 10px 15px;
    position: relative;
}

.search-bar input {
    width: 100%;
    font-size: 15px;
    text-align: center;
    background-color: #f1f2f3;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 5px 30px;
    transition: border-color .3s ease-in-out;
}

.search-bar input:focus {
    border-color: #ffe94a;
}

.search-bar input:focus {
    outline: none;
}

.search-bar i {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #bbbbbb;
}